{% extends "layout.html" %} {% block body %}
<div class="jumbotron jumbotron-fluid text-center" style="width: 80vw;">
    <h3>After</h3>
    <img class="img-fluid" height="400px" width="400px" src="{{ url_for('static', filename=file_path) }}" alt="image here">
    <!-- <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<style>
</style>
{% endblock %}